Django==1.6.2
argparse==1.2.1
distribute
dj-database-url==0.3.0
dj-static==0.0.5
django-admin-bootstrapped==1.6.4
django-bootstrap-form==3.1
gunicorn==18.0
psycopg2==2.5.3
pystache==0.5.3
static==1.0.2
wsgiref==0.1.2
django-bootstrap3-datetimepicker==2.2.3
xhtml2pdf==0.0.6
reportlab==3.1.8
lxml==3.3.5
WeasyPrint==0.22
