{% extends "pay/pay.html" %}

{% block breadcrumb-pay %}
<li class="active"><a href="/pay">Listado</a></li>
{% endblock %}


{% block paylist %}
class="list-group-item active"
{% endblock %}		

{% block context %}
		
	<h1>Pagos</h1>
	<table  class="table table-condensed">
  		<thead>
  		<tr>
            <th>Cliente</th>
            <th>Medio</th>
            <th>Valor</th>
            <th>Fecha</th>
            <th>Detalle</th>
          </tr>
         </thead>
        <tbody>

		{% for element in list %}
		<tr>
			<td><a href='/profile/{{element.client}}'>{{element.client|capfirst}}</a></td>
			<td>{{element.method_payment}}</td>
			<td>{{element.amount}}</td>
			<td>{{element.datetime|date:'SHORT_DATE_FORMAT'}}</td>
			<td>{{element.description}}</td>
		</tr>
		{% endfor %}
        </tbody>

  	</table>	


{%if list %}

	<ul class="pagination">
		
	  {%if list.has_previous %}
		  <li><a href="/pay/page/{{list.previous_page_number}}">&laquo;</a></li>
	  {% else %}
		  <li><a href="/pay/page/1">&laquo;</a></li>
	  {% endif %}

	  {%if list.has_next %}
		  <li><a href="/pay/page/{{list.next_page_number}}">&raquo;</a></li>
	  {% endif %}
	  

	</ul>

	<h4>Página {{list.number}} de {{list.paginator.num_pages}}</h4>
{% endif%}

{% endblock %}  

