{% extends "sign-in.html" %}

{% block title %}Pagos - CentroInternet{% endblock %}

{% block breadcrumb %}
<li><a href="/pago">Pagos</a></li>
{% block breadcrumb-pay %}
{% endblock %}

{% endblock %}


{% block pay %} 
class='active'
{% endblock%}


{% block link-sidebar %}  
 	<a href="/pago" class="list-group-item active">Pagos</a>
    <a href="/pago/nuevo" class="list-group-item">Agregar pago</a>
    <a href="/cobro/nuevo" class="list-group-item ">Agregar Cobro</a>
    <a href="/descuento/nuevo" class="list-group-item ">Agregar Descuento</a>
 	
{% endblock %}