{% extends "sign-in.html" %}

{% block title %}Problemas - CentroInternet{% endblock %}

{% block breadcrumb %}
<li><a href="/problem">Problemas</a></li>
{% block breadcrumb-problem %}
{% endblock %}

{% endblock %}


{% block problem %} 
class='active'
{% endblock%}

{% block link-sidebar %}  
 	<a href="/problem" {% block problemlist %}class="list-group-item"{% endblock %}>Listado</a>
    <a href="/problem/new" {% block problemnew %}class="list-group-item"{% endblock %}>Agregar</a>
{% endblock %}