{% extends "sign-in.html" %}

{% block title %}Problemas - CentroInternet{% endblock %}

{% block breadcrumb %}
<li><a href="/problema">Problemas</a></li>
{% block breadcrumb-problem %}
{% endblock %}

{% endblock %}


{% block problem %} 
class='active'
{% endblock%}

{% block link-sidebar %}  
 	<a href="/problema" class="list-group-item active">Problemas</a>
 	<a href="/problema" class="list-group-item">Listado</a>
    <a href="/problema/nuevo" class="list-group-item" >Agregar</a>
{% endblock %}