
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Boletas</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">CentroInternet</h3>
      </div>


  <div class="container">
    <div class="row">
        <div class="col-xs-9">
        <hr>
        <div class="row">
          <div class="col-xs-4">
            <address>
            <strong>Señor(a):</strong><br>
              {{cliente.nombre}} {{cliente.apellido}}<br>
              {{cliente.direccion}}<br>
              Puente Alto, Chile
            </address>
          </div>
          <div class="col-xs-4 text-center">
            <address>
              <strong>Centro Internet</strong><br>
              +56 9 5113 3374<br>
              consultas@centrointernet.cl<br>
            </address>
          </div>
          <div class="col-xs-4 text-right">
            <address>
              <strong>Proceso {{proceso}}</strong><br>
              Plan {{resumen_boleta.plan}}<br>
              Pagar hasta:<br>              
               {{proceso.fecha_corte}}<br>
            </address>
          </div>
        </div>

      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Resumen de pagos/cobros/descuentos</strong></h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-condensed">
                <thead>
                                <tr>
                      <td><strong>Fecha</strong></td>
                      <td class="text-center"><strong>Tipo</strong></td>
                      <td class="text-center"><strong>Detalle</strong></td>
                      <td class="text-center"><strong>Medio</strong></td>
                      <td class="text-left"><strong>Monto</strong></td>
                    </tr>
                </thead>
                <tbody>
                  {% for element in historico %}
                  <tr>
                    <td>{{element.datetime| date:'SHORT_DATE_FORMAT'}}</td>
                    <td class="text-center">{{element.tipo_historico}}</td>
                    <td class="text-center">{{element.descripcion}}</td>
                    <td class="text-center">{{element.metodo_pago}}</td>
                    <td class="text-left">$ {{element.cantidad}}</td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><strong>Total:</strong></td>
                    <td class="text-left">$ {{resumen_boleta.total}}</td>
                  </tr>

          
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-3">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><strong>Total a Pagar</strong></h3>
          </div>

          <table class="table table-condensed">
                <tbody>
                  <tr>
                    <td class="text-center"><h2><strong>$ {{resumen_boleta.total}}</strong></h2></td>
                  </tr>

                </tbody>
          </table>
              <hr>
          <div class="panel-body">
            <div class="table-responsive text-center">
                <tr>
                    <td>Recuerde ir a pagar antes del:</td>
                </tr>
                <tr>
                  <td><h3>{{proceso.fecha_corte}}<h3></td>
                </tr>
            </div>
          </div>
        </div>




      </div>

    </div>
</div>



      <div class="footer">
        <p>&copy; CentroInternet {{proceso.ano}}</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
