{% extends "sign-in.html" %}

{% block title %}Facturacion - CentroInternet{% endblock %}

{% block breadcrumb %}
<li><a href="/cupones">Facturacion</a></li>
{% block breadcrumb-facturacion %}
{% endblock %}
{% endblock %}

{% block coupon %} 
class='active'
{% endblock%}


{% block link-sidebar %}  
 	<a href="/facturar/" class="list-group-item active">Facturar</a>
	<a href="/facturar/" class="list-group-item">Listado</a>
 	<a href="/facturar/proceso/nuevo" class="list-group-item">Nuevo Proceso</a>

{% endblock %}


{%  block context-header %}
<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled">1</button>
            
            <p>Iniciar proceso</p>
        </div>
        <div class="stepwizard-step">
            {% block stepwizard2 %}
                <button type="button" class="btn btn-default btn-circle" disabled="disabled">2</button>
            {% endblock%}
            <p>Cambiar plan</p>
        </div>
        <div class="stepwizard-step">
            {% block stepwizard3 %}
                <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
            {% endblock%}
            <p>Costo mensual</p>
        </div> 
        <div class="stepwizard-step">
            {% block stepwizard4 %}
                <button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
            {% endblock%}
            <p>Descuentos/Cobros</p>
        </div> 
        <div class="stepwizard-step">
            {% block stepwizard5 %}
                <button type="button" class="btn btn-default btn-circle" disabled="disabled">5</button>
            {% endblock%}
            <p>Generar PDF</p>
        </div> 
        <div class="stepwizard-step">
            {% block stepwizard6 %}
                <button type="button" class="btn btn-default btn-circle" disabled="disabled">6</button>
            {% endblock%} 
            <p>Enviar Email</p>
        </div> 
    </div>
</div>
<br/>
{% endblock %}