{% extends "sign-in.html" %}

{% block title %}Facturacion - CentroInternet{% endblock %}

{% block breadcrumb %}
<li><a href="/cupones">Facturacion</a></li>
{% block breadcrumb-facturacion %}
{% endblock %}
{% endblock %}

{% block coupon %} 
class='active'
{% endblock%}


{% block link-sidebar %}  
 	<a href="/facturar/" class="list-group-item active">Facturar</a>
	<a href="/facturar/" class="list-group-item">Listado</a>
 	<a href="/facturar/proceso/nuevo" class="list-group-item">Nuevo Proceso</a>

{% endblock %}