{% extends "facturacion/facturacion.html" %}

{% block breadcrumb-facturacion %}
<li><a href="#">#</a></li>
{% endblock %}


{% block context %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Plan mensual</strong></h3>
	</div>
	<div class="panel-body">
	<table  class="table table-condensed">
  		<thead>
  		<tr>
            <th>Usuario</th>
            <th>Estado</th>
            <th>Plan</th>
            
            <th class="text-right">Cambiar Plan</th>
          </tr>
         </thead>
        <tbody>


		{% for element in list %}
		<tr>
			<td><a href='/perfil/{{element.username}}'>{{element.username|capfirst}}</a></td>
			<td>
				{% if element.status == "Activo" %}
				<dd><span class="label label-success">Activo</span></dd>
				{% elif element.status == "Moroso"%}
					<dd><span class="label label-warning">Moroso</span></dd>
				{% elif element.status == "Cortado"  %}
					<dd><span class="label label-danger">Cortado</span></dd>
				{% elif element.status == "Nulidad"  %}
					<dd><span class="label label-default">Nulidad</span></dd>
				{% endif%}
			</td>
			<td>{{element.servicio|capfirst}}<!-- ({{element.servicio.precio}}) --></td>
			<td class="text-right">
				<a href="/perfil/editar/{{element.username}}" class="btn btn-success btn-xs">
					<span class="glyphicon glyphicon-edit"></span> Cambiar
				</a>

			</td>
		</tr>
		{% endfor %}
        </tbody>

  	</table>	
	</div>
</div>

<!-- Indicates a successful or positive action -->
<p class="text-right">
	<a href="{% url 'generar_cobros' %}"><button type="button" class="btn btn-success ">Generar cobro mensual</button></a>
</p>



{% endblock %}