{% extends "facturacion/facturacion.html" %}

{% block breadcrumb-facturacion %}
<li><a href="#">#</a></li>
{% endblock %}


{% block context %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Plan mensual</strong></h3>
	</div>
	<div class="panel-body">
	<table  class="table table-condensed">
  		<thead>
  		<tr>
            <th>Usuario</th>
            <th>Estado</th>
            <th>Plan</th>
            
            <th class="text-right">Cambiar Plan</th>
          </tr>
         </thead>
        <tbody>
        <tr>
			
			<td><a href='/perfil/#'>Dllanten</a></td>
			<td>Activo</td>
			<td>Plan 14900</td>
			
			<td class="text-right">
				<a href="/#" class="btn btn-success btn-xs">
					<span class="glyphicon glyphicon-edit"></span> Cambiar
				</a>

			</td>
		</tr>

		{% for element in list %}
		<tr>
			<td></td>
			<td></td>
			<td></td>

		</tr>
		{% endfor %}
        </tbody>

  	</table>	
	</div>
</div>

<!-- Indicates a successful or positive action -->
<p class="text-right">
	<button type="button" class="btn btn-success ">Generar cobro mensual</button>
</p>

{%if list %}

	<ul class="pagination">
		
	  {%if list.has_previous %}
		  <li><a href="/cliente/page/{{list.previous_page_number}}">&laquo;</a></li>
	  {% else %}
		  <li><a href="/cliente/page/1">&laquo;</a></li>
	  {% endif %}

	  {%if list.has_next %}
		  <li><a href="/cliente/page/{{list.next_page_number}}">&raquo;</a></li>
	  {% endif %}
	  

	</ul>

	<h4>Página {{list.number}} de {{list.paginator.num_pages}}</h4>
{% endif%}


{% endblock %}