{% extends "facturacion/facturacion.html" %}

{% block breadcrumb-facturacion %}
<li><a href="#">Facturacion</a></li>
{% endblock %}

{% 	block context-header %}
{% endblock %}

{% block context %}
		
	<h1>Proceso</h1>
	<table  class="table table-condensed">
  		<thead>
  		<tr>
            <th>Año</th>
            <th>Mes</th>
            <th>Status</th>
            <th>Inicio periodo</th>
            <th>Termino periodo</th>
            <th>N° Clientes</th>
            
            <th class="text-right">Opcion</th>
          </tr>
         </thead>
        <tbody>
        
		{% for element in list %}
		<tr>
			<td>{{element.ano}}</td>
			<td>{{element.mes}}</td>
			<td>{{element.status}}</td>
			
			<td>{{element.periodo_inicio}}</td>
			<td>{{element.periodo_inicio}}</td>
			<td>-</td>
			<td class="text-right">

				{% if element.status == 'Inicio' %}
					<a href="/facturar/proceso/clientes" class="btn btn-success btn-xs">
					<span class="glyphicon glyphicon-edit"></span>Cambiar plan
					</a>
				
				{% elif element.status == 'Facturar' %}
					<a href="/facturar/proceso/clientes" class="btn btn-success btn-xs">
					<span class="glyphicon glyphicon-edit"></span>Facturar
					</a>

				{% elif element.status == 'Resumen' %}
					<a href="/facturar/proceso/resumen/" class="btn btn-success btn-xs">
					<span class="glyphicon glyphicon-edit"></span>Descuentos/Cobros
					</a>

				{% elif element.status == 'Email Enviado' %}				<a href="/facturar/proceso/resumen/{{element.id}}" class="btn btn-success btn-xs">
					<span class="glyphicon glyphicon-edit"></span> Enviar Email
					</a>
	

				{% elif element.status == 'Archivado' %}
					<a href="/facturar/proceso/resumen/{{element.id}}" class="btn btn-success btn-xs">
					<span class="glyphicon glyphicon-edit"></span> Archivado
					</a>
				
				{% endif %}


			</td>


		</tr>
		{% endfor %}
        </tbody>

  	</table>	

{% endblock %}