{% extends "client/client.html" %}
		
{% block context %}

	<h1>Usuario {{client.username|capfirst}} </h1>
	<hr>
    
    <dl class="dl-horizontal">
    	<dt>Nombre</dt>
		<dd>{{client.first_name|capfirst}} {{client.last_name|capfirst}} </dd>

		<dt>Estado</dt>
		<dd><span class="label label-success">{{client.status}}</span></dd>
	<!--	
		<dd><span class="label label-warning">Moroso</span></dd>
		<dd><span class="label label-danger">Cortado</span></dd>
		<dd><span class="label label-default">Nulidad</span></dd>
    -->


        <dt>Dirección</dt>
        <dd>{{client.address}} </dd>
		
		<dt>Teléfono</dt>
		<dd>{{client.phone}}</dd>
        
		<dt>Email</dt>
		<dd>{{client.email}}</dd>
        
	<hr>
	    <dt>Ingreso</dt>
		<dd>{{client.date_start}}</dd>

        <dt>Servicio</dt>
        <dd>{{client.service}} </dd>

        <dt>Red de conexión</dt>
		<dd>{{client.network_connection}}</dd>
	</dl>
    <hr>
	
<div class="row">
        <div class="col-sm-6">
          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Histórico</h3>
            </div>
            <div class="panel-body">
				<table class="table table-hover">
					<thead>
			          <tr>
			          	<th>Tipo</th>
			            <th>Medio</th>
			            <th>Monto</th>
			            <th>Fecha</th>
			          </tr>
			        </thead>
			        <tbody>

			       	{% for element in historical %}
			         <tr>
			         	<td>{{element.type_historical}}</td>
						<td>{{element.method_payment}}</td>
						<td>{{element.amount}}</td>
						<td>{{element.datetime|date:'SHORT_DATETIME_FORMAT'}}</td>
					</tr>
			       	{% endfor %}

			        </tbody>
            	</table>
            </div>
          </div>
          

        

        </div><!-- /.col-sm-6 -->

        <div class="col-sm-6">

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Problemas</h3>
            </div>
            <div class="panel-body">
            	<table class="table table-hover">
					<thead>
			          <tr>
			            <th>Fecha</th>
			            <th>Tipo</th>
			            <th>Estado</th>
			          </tr>
			        </thead>
			        <tbody>

			       	{% for element in problem %}
			          <tr>
						<td>{{element.datetime|date:'SHORT_DATETIME_FORMAT'}}</td>
						<td>{{element.problem_type}}</td>
						<td>{{element.status}}</td>
					</tr>
			       	{% endfor %}
			        </tbody>
            	</table>
            </div>
          </div>

        </div><!-- /.col-sm-6 -->
      </div>

{% endblock %}  
